/node_modules
/public/hot
/public/storage
/public/vendor/mailcoach
/storage/*.key
/storage/temp
/vendor
.env
.env.backup
.phpunit.result.cache
.php_cs.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
config-mailcoach-app/mail.json
config-mailcoach-app/transactional-mail.json
config-mailcoach-app/editor.json
_ide_helper.php
_ide_helper_models.php
auth.json
composer.lock
